body,html {
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 10px;
    background: url('../images/bck3.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;:
}

.nav{
    background-color: #5F7185;
    border-color: #454752;
    border-radius: 3.5rem;
}

.nav-link{
    color: #FFFFFF;
}

.modal-header h3 {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    position: center;
}

.NoUser label{
    margin-left: 2%;
}

.modal-dialog {
    margin-bottom: auto;
}

.NoUser p {
    color: #3C6E71;
}

.modal-header p {
    color: #3C6E71;
}

.modal-content {
    background-color: #F0EBD8;
    box-shadow: 0 1px 1px rgba(28,202,216,0.5), inset 0 0 8px rgba(88,114,145, 0.9);

}

blockquote{
    max-width:390px;
    color: #5c4c40;
    text-align: center;
    border-left: 3px solid #897860;
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table
}

.addOutModal{
    max-width:400px;
    text-align: center;
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table
}

.addInModal{
    max-width:400px;
    text-align: center;
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table
}

.addInModalOp{
    max-width:400px;
    text-align: center;
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table
}

div.background {
    border: 2px solid black;
}

#tableOut_wrapper {
    background-color: #5F7185;
    border-radius: 0.5rem;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

#tableIn_wrapper {
    background-color: #5F7185;
    border-radius: 0.5rem;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    color: black;

}

#tableCatOut_wrapper {
    background-color: #5F7185;
    border-radius: 0.5rem;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    color: black;

}

#tableCatIn_wrapper {
    background-color: #5F7185;
    border-radius: 0.5rem;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    color: black;

}

#mytable_wrapper {
    background-color: #5F7185;
    border-radius: 0.5rem;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    color: black;

}

#tableCatOut_filter{
    color: black;
}

#tableCatIn_filter{
    color: black;
}

.dataTables_info {
    display: none;
}

.dataTables_length{
    display: none;
}

.dataTables_paginate{
    color: black;
}

#tableOut_filter{
    color: black;
}

#tableIn_filter{
    color: black;
}

#mytable_filter{
    color: black;
}
