body,html {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background-color: #595F72;
    /*background-color: #137547;*/
}

.modal-header h3 {
    color: #E89005;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    position: center;
}

.NoUser label{
    margin-left: 2%;
}

.modal-dialog {
    margin-bottom: auto;
}

.NoUser p {
    color: #3C6E71;
}

.modal-header p {
    color: #3C6E71;
}

.modal-content {
    background-color: #F0EBD8;
    box-shadow: 0 1px 1px rgba(28,202,216,0.5), inset 0 0 8px rgba(88,114,145, 0.9);

}

/*     background-color: #587291; */